/* Header ; Body (with 4 sub containers) ; footer */

/* Full page styling*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
}


/* Multiple section styling */

.headerbg, .herobg, .footer {
    background-color: #1f2937;
}

.quotebg {
    background-color: #e5e7eb;
}

header, .hero, .info, .quote, .card{
    margin: 0 10%;
}


/* Header-specific styling */

header {
    color: #f9faf8;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 16px 0 32px 0;
    width: 100%;
}

.logo {
    height: 80px;
    width: 80px;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
}

.navitem, .heroleft p {
    color: #e5e7eb;
    font-size: 24px;
    margin-left: 48px;
}

.navitem {
    width: 88px;
}

.content {
    display: flex;
    flex-direction: column;
}


/* Hero stying */

.herobg {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    width: 100%;
}

.button, .card{
    background-color: #3882f6;
}

.heroleft {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
    min-width: 480px;
}

.button {
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 800;
    height: 48px;
    max-width: 30%;
    min-height: 48px;
    min-width: 192px;
    padding: 12px 24px;
    width: 192px;
}

.button:hover {
    background-color: #38aaf6;
    font-size: 20px;
}

.heroleft p {
    margin: 8px 0 16px 0;
    overflow: hidden;
    width: 480px;
}

.heroright {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.heroright img {
    border-radius: 24px;
    height: auto;
    width: 496px;
}

.heroright {
    overflow: hidden;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}


/* Info section */

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 64px 0 96px 0;
}

.info h2 {
    font-size: 36px;
    margin: 0 0 32px 0;
}

.infoblocks {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.infoblocks img {
    border: #3882f6 4px solid; 
    border-radius: 16px;
    height: 408px;
    min-width: 260px;
}

.infoblocks p {
    color: #2b2a28;
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
}

.infoblock {
    display: flex;
    flex-direction: column;
    width: 22%;
}


/* Quote */

.quotebg {
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: center;
    margin: 0 15%;
}

.quote p {
    color: #47505C;
    font-size: 36px;
    margin: 0;
    overflow: hidden;
}

#author {
    color: #2b2a28;
    margin-top: 24px;
    padding-right: 2%;
    text-align: end;
}


/* CTA */

.cta {
    display: flex;
    height: 480px;
}

.card {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    margin: 112px 10%;
    width: 100%;
}

.cardleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    width: 50%;
}

.cardleft h2 {
    color: #f9faf8;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.cardleft p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 4px 0 0 0;
}

.cardright {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 6vw;
    width: 50%;
}

.cardright .button {
    border: 3px solid #f9faf8;
    white-space: nowrap;
}


/* Footer */

.footer {
    align-items: center;
    display: flex;
    height: 112px;
    justify-content: center;
}

.footer p {
    color: #f9faf8;
    font-size: 18px;
}